{% extends 'base.html' %}

{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Welcome to Model Girls 👯‍♀️</h1>
                    <h4 class="text-white-50 mb-0">의류 가상 피팅 서비스</h4>
                    <br>
                    <p class="lead fw-normal text-white-50 mb-0">Experience account</p>
                    <table style="margin-top: 7px" class="table table-dark table-hover">
                      <th class="table-light">ID</th><th class="table-light">Password</th><th class="table-light">Role</th>
                        <tr>
                            <td>admin</td>
                            <td>0000</td>
                            <td>ADMIN</td>
                        </tr>
                        <tr>
                            <td>test1</td>
                            <td>0000</td>
                            <td>USER</td>
                        </tr>
                        <tr>
                            <td>test2</td>
                            <td>0000</td>
                            <td>USER</td>
                        </tr>
                        <tr>
                            <td>test3</td>
                            <td>0000</td>
                            <td>USER</td>
                        </tr>
                        <tr>
                            <td>test4</td>
                            <td>0000</td>
                            <td>USER</td>
                        </tr>
                        <tr>
                            <td>test5</td>
                            <td>0000</td>
                            <td>USER</td>
                        </tr>
                    </table>

                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                    {% for product in products %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="{{ product.image.url }}" alt="..." />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">{{ product.name }}</h5>
                                        <!-- Product price-->
                                        {{ product.price }} 원
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product:product_detail' pk=product.id %}">View options</a></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </section>
{% endblock %}